$pad: 1rem;
$ctr: center;

* {
    box-sizing: border-box;
  }

  html, body {
	font-family: 'Crimson Text', serif;
	overflow-x: hidden;
  }

  nav {
	.logo {
	  height: 35px;
	  width: 35px;
	}
  }

  .nav-link {
	  font-size: 22px;
  }

  header {
	  padding: 40px $pad 0 $pad;
	  h1 {
		font-weight: bold;
		text-align: $ctr;
	  }
	  h2 {
		text-align: $ctr;
		font-size: 25px;
		font-style: italic;
	  }
  }

  #about {
	  display: flex;	
	  margin-top: 80px;
		flex-wrap: wrap;
		justify-content: $ctr;
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 80px;
			.profile-pic {
				width: auto;
				max-width: 100%;
				max-height: auto;
			}
			.about-me {
				flex: 1;
				font-size: 20px;
				line-height: 40px;
			}
  }

  #skills {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 80px;
	  h3 {
			font-size: 35px;
			text-align: $ctr;
			font-weight: bold;
			margin-bottom: 30px;
		}
		.coding-skills {
			display: flex;
			flex-wrap: wrap;
				.all-skills {
					flex: 1;
					list-style-position: inside;
						.skill-img {
							width: 90px;
							height: 90px;
							display: block;
							margin-right: auto;
							margin-left: auto;
						}
						h4, h5, h6 {
							text-align: $ctr;
							font-size: 25px;
							font-weight: bold;
						}
						.skill-list {
							text-align: $ctr;
							list-style-type: none;
							padding: 0;
							li {
								font-size: 18px;
							}
					}
				}
		}
	}

	#portfolio {
		background-color: #f8f9fa;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 80px;
		.capstone-projects-main-title {
			font-size: 35px;
		  	padding-top: 40px;
			text-align: $ctr;
			font-weight: bold;
			margin-bottom: 30px;
		}
		.capstone-projects {
			display: flex;
			flex-wrap: wrap;
			justify-content: center; 
			.projects {
				padding: 10px;
				margin: 10px;
				box-shadow: 1px 2px 2px 1px #888;
				
				.capstone-title {
					text-align: $ctr;
					font-size: 25px;
					font-weight: bold;
				}
				.capstone-languages {
					text-align: $ctr;
				}
				.project-img {
					padding: 15px;
					height: 200px;
					width: 400px;
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
				.project-description {
					display: block;
					font-size: 17px;
					padding-left: 15px;
					padding-right: 15px;
					width: 400px;
					margin-left: auto;
					margin-right: auto;
				}
				.view-project-buttons {
					text-align: $ctr;
					.button-links, .button-links-git {
						display: inline-block;
						width: 70px;
						padding: 5px;
						background-color: #1976D2;
						color: #F8F8FF;
						border: 0.5px;
						border-radius: 3px;
						text-align: center;
						margin: 5px 5px 2px 5px;
						text-decoration: none;
						cursor: pointer;
					}
					.button-links:hover,
					.button-links:focus {
						background-color: #2196F3;
						-webkit-transition: background 0.1s;
						-moz-transition: background 0.1s;
						-o-transition: background 0.1s;
						transition: background 0.1s;
						outline: none;
					}
					.button-links-git {
						background-color: white;
						color:	#606060;
						box-shadow: 1px 1px 1px 1px #E8E8E8;
					}
					.button-links-git:hover,
					.button-links-git:focus {
						box-shadow: 1px 1px 1px 1px #A8A8A8;
						color:	#080808;
						-webkit-transition: background 0.1s;
						-moz-transition: background 0.1s;
						-o-transition: background 0.1s;
						transition: background 0.1s;
						outline: none;
					}
				}
			}
		}
	}

	#contact-ryan {
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
		.contact-me-title {
			font-size: 35px;
			padding-top: 40px;
			text-align: $ctr;
			font-weight: bold;
			margin-bottom: 30px;
		}
		.contact-me-info {
			text-align: $ctr;
			font-size: 20px;
			margin-bottom: 50px;
		}
		.contact-info-center {
			display: block;
			text-align: $ctr;
			margin-bottom: 50px;
			.contact-info-center > a {
				text-decoration: none;
				color: #ffffff;
			}
			a:hover {
				text-decoration: none;
			}
			.contact-connect-me-email {
				display: inline-block;
				height: 50px;
				width: 60px;
			}
			.contact-connect-me, .contact-connect-me {
				height: 50px;
				width: 50px;
			}
		}
	}

	@media only screen and (max-width: 10000px)  {
		#about {
				.profile-pic {
					height: 500px;
				}
		}
		#portfolio {
			.capstone-projects {
				margin-left: 0;
				margin-right: 0;
				.projects {
					.project-description {
						padding-left: 5px;
						padding-right: 5px;
						width: 390px;
						}
					.project-img {
						padding: 10px;
						height: 200px;
						width: 400px;
					}
				}
			}
		}
	}

	// @media only screen and (max-width: 1900px)  {
	// 	#portfolio {
	// 		.capstone-projects {
	// 			margin-left: 300px;
	// 			margin-right: 300px;
	// 		}
	// 	}
	// }

	@media only screen and (max-width: 1900px)  {
		#about {
			.profile-pic {
				height: 400px;
			}
		}
		#portfolio {
			.capstone-projects {
				margin-left: 0;
				margin-right: 0;
				.projects {
					.project-description {
					padding-left: 5px;
					padding-right: 5px;
					width: 250px;
					}
					.project-img {
						padding: 5px;
						height: 150px;
						width: 250px;
					}
				}
			}
		}
	}


	
	// @media only screen and (max-width: 1500px)  {
	// 	#portfolio {
	// 		.capstone-projects {
	// 			margin-left: 100px;
	// 			margin-right: 100px;
	// 		}
	// 	}
	// }

	@media only screen and (max-width: 1260px)  {
		#portfolio {
			.capstone-projects {
				margin-left: 100px;
				margin-right: 100px;
				.projects {
					width: 350px;
				}
			}
		}
	}

	@media only screen and (max-width: 976px)  {
		#portfolio {
			.capstone-projects {
				margin-left: 60px;
				margin-right: 60px;
				.projects {
					width: 270px;
					.project-img {
						padding: 5px;
						height: 100px;
						width: 200px;
					}
				}
			}
		}
	}
	
	@media only screen and (max-width: 900px)  {
		#about, #skills {
			flex-direction: column;
			width: auto;
			padding-left: 20px;
			padding-right: 20px;
			.profile-pic {
				height: 500px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	
	@media only screen and (max-width: 720px)  {
		#portfolio {
			.capstone-projects {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	@media only screen and (max-width: 500px)  {
		#about {
			.profile-pic {
				height: 300px;
			}
			.about-me {
				font-size: 18px;
			}
		}
		#contact-ryan {
			.contact-me-info {
				text-align: $ctr;
				font-size: 18px;
				margin-bottom: 50px;
			}
		}
	}	